# Specific files
tmp.*
*-ignore.*
**/.vscode/*
**/.venv/*

# ticket_scan
ticket_scan/images/* 
ticket_scan/uploaded_images/*

# ticket_scan_draft
ticket_scan_draft/basura/*
ticket_scan_draft/images/*
ticket_scan_draft/pdf/*
ticket_scan_draft/__pycache__
ticket_scan_draft/frozen_east_text_detection.pb


